# utils
jmespath==0.9.3
elasticsearch2
elasticsearch5
elasticsearch

# Cache
dogpile.cache==0.6.3

# Flask
Flask==0.12.2
Flask-restful==0.3.6
Flask-Bcrypt==0.7.1

# Database
Flask-SQLAlchemy==2.3.1
SQLAlchemy==1.2.0

# Migrations
Flask-Migrate==2.1.1
